    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <h3>Enter here!</h3>

    <script src="~/js/bootstrap.js"></script>
</body>
</html>
