
@{
    ViewData["Title"] = "Consult";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Task Consult</h5>
Search the registraded tasks.
<br />
<br />  

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Task name</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Priority</th>
            <th>Observations</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                Number of tasks: 0 
            </td>
        </tr>
    </tfoot>
</table>


