
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task Control</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/Index">Task Control</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Control Tasks
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item bg-dark text-white" href="/Task/Registration">Create Task</a></li>
                            <li><a class="dropdown-item bg-dark text-white" href="/Task/Consult">Consult Task </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-dark text-white" href="/Task/Report">Task Report</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="text-white">
                        @User.Identity.Name &nbsp;&nbsp;&nbsp;
                        <a href="/Account/Logout" class="btn btn-outline-danger btn-sm"
                           onclick="return confirm('Do you want to logout ?')">
                            Logout
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <strong>@TempData["Message"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class=" container mt-4">
        @RenderBody()
    </div>


    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
</body>
</html>
